version: 2.1
jobs:
  build:
    docker:
      - image: circleci/python:3.8
    steps:
      - checkout
      - run: pip install dbt
      - run: dbt --version
workflows:
  version: 2
  build_and_test:
    jobs:
      - build
