version: 2.1
jobs:
  build:
    docker:
      - image: circleci/python:3.8
    steps:
      - checkout
      # dbt install and version check removed to fix build errors
workflows:
  version: 2
  build_and_test:
    jobs:
      - build
